/* fonts */
@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* variables */
:root {
    --color-background: #f9f9f9;
    --color-background-transparent: #f9f9f980;
    --color-text: #000000;
    --color-text-secondary: #555555;
    --color-surface: #d3d3d3;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;

    --border-radius-full: 9999px;
}

/* global styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: var(--color-text);
}

p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: var(--color-text);
}

button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: var(--color-text);
    font-size: var(--font-size-lg);
}

.outline-button {
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--font-size-md);
    border: 1px solid var(--color-text);
    background-color: transparent;
    color: var(--color-text);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: var(--border-radius-full);
}