/* fonts */
@font-face {
    font-family: 'Clash Display';
    src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('/fonts/ClashDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

/* variables */
:root {
    --color-background: #f9f9f9;
    --color-background-transparent: #f9f9f980;
    --color-text: #141414;
    --color-filtered-text: #0a0a0a; /* white + --color-text on overlay blend mode = --color-filtered-text */
    --color-text-secondary: #555555;
    --color-surface: #d3d3d3;

    --mosaiq-blue: #2384ca;
    --mosaiq-purple: #482362;
    --mosaiq-magenta: #932e76;
    --mosaiq-pink: #d31757;
    --mosaiq-navy: #21286c;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;

    --border-radius-full: 9999px;
}

/* global styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Clash Display', sans-serif;
    font-weight: 600;
    color: var(--color-text);
    word-spacing: 0.25em;
}

p,
a,
span {
    /* font-family: 'Clash Display', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: var(--color-text);
}
a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

button,
.button-like {
    font-family: 'Clash Display', sans-serif;
    font-weight: 400;
    color: var(--color-text);
    font-size: var(--font-size-md);
}

.outline-button {
    padding: var(--spacing-sm) var(--spacing-md);
    border: 1px solid var(--color-text);
    background-color: var(--color-background);
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
    border-radius: var(--border-radius-full);

    &:hover {
        background-color: var(--color-text);
        color: var(--color-background);
    }
}
