---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Mosaiq Software">
    <section id="about">
        <h1>About</h1>
    </section>
</BaseLayout>

<style>
    #about {
        height: 100vh;
    }
</style>
