---
import FancyMosaiqLogo from '../components/index/FancyMosaiqLogo.astro';
import ProjectElement from '../components/index/Project.astro';
import Square from '../components/Square.astro';
import FilterText from '../components/index/FilterText.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionHeaderTitle from '../components/SectionHeaderTitle.astro';
import SectionLayout from '../layouts/SectionLayout.astro';
import ContactInfo from '../components/ContactInfo.astro';
import _projects from '../data/projects.json' assert { type: 'json' };
import { Project } from '../scripts/types';

const projects = _projects.filter((project) => project.homepage) as Project[];
---

<BaseLayout title="Mosaiq Software">
    <SectionLayout id="hero">
        <div id="hero-text">
            <div id="hero-title">
                <FilterText>
                    <SectionHeaderTitle>Software development for the inner child</SectionHeaderTitle>
                </FilterText>
            </div>
            <div id="hero-description">
                <FilterText>
                    <p>Mosaiq Software is a non-profit software development group based out of Worcester, Massachusetts making stupidly cool things on the web.</p>
                </FilterText>
            </div>
            <a
                href="#projects"
                class="outline-button"
                >See Our Work</a
            >
        </div>
        <div id="hero-logo">
            <FancyMosaiqLogo />
        </div>
    </SectionLayout>
    <SectionLayout id="projects">
        <SectionHeaderTitle>Projects</SectionHeaderTitle>
        {
            projects.map((project) => (
                <ProjectElement
                    project={project}
                    randomizePosition={false}
                />
            ))
        }
        <div class="projects-button-container">
            <a
                href="/projects"
                class="outline-button"
                style="margin: 0 auto;"
                >See All Projects</a
            >
        </div>
        <div class="square-container">
            <Square
                width={10}
                size={800}
                color="var(--mosaiq-pink)"
                className="square1"
                top="30%"
                left="-225px"
                rotation="55deg"
            />
            <Square
                width={10}
                size={400}
                color="var(--mosaiq-blue)"
                className="square1"
                top="60%"
                left="60%"
                rotation="-10deg"
            />
            <Square
                width={10}
                size={400}
                color="var(--mosaiq-navy)"
                className="square1"
                top="30%"
                right="-500px"
                rotation="15deg"
            />
            <Square
                width={10}
                size={300}
                color="var(--mosaiq-magenta)"
                className="square1"
                top="85%"
                left="25%"
                rotation="45deg"
            />
        </div>
    </SectionLayout>
    <SectionLayout id="contact">
        <SectionHeaderTitle>Contact</SectionHeaderTitle>
        <ContactInfo />
    </SectionLayout>
</BaseLayout>

<style>
    #hero-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;

        p {
            z-index: 2;
            max-width: 40ch;
            font-size: var(--font-size-lg);
        }
    }

    #hero-logo {
        position: absolute;
        right: 10%;
        width: 50%;
        aspect-ratio: 1 / 1;
    }

    .square-container {
        position: absolute;
        inset: 0;
        overflow-x: hidden;
        pointer-events: none;
    }

    @media screen and (max-width: 450px) {
        #hero-logo {
            width: min(80%, 40vh);
            margin-top: 0;
            right: 15%;
        }

        #hero-text {
            height: 70vh;
            gap: 2rem;
        }

        #hero-description {
            margin-top: auto;
        }
    }

    #projects {
        display: flex;
        flex-direction: column;
        gap: 10em;
        flex: 1;
    }

    #contact {
        min-height: 100vh;
    }

    .projects-button-container {
        padding: 4rem 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }
</style>
