---
import FancyMosaiqLogo from '../components/index/FancyMosaiqLogo.astro';
import ProjectElement from '../components/index/Project.astro';
import Square from '../components/Square.astro';
import FilterText from '../components/index/FilterText.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionHeaderTitle from '../components/SectionHeaderTitle.astro';
import SectionLayout from '../layouts/SectionLayout.astro';
import ContactInfo from '../components/ContactInfo.astro';
import _projects from '../data/projects.json' assert { type: 'json' };
import { Project } from '../scripts/types';

const projects = _projects.filter((project) => project.homepage) as Project[];
---

<BaseLayout title="Mosaiq Software">
    <SectionLayout id="hero">
        <div id="hero-text">
            <FilterText> Software development for the inner child </FilterText>
            <p data-text="Mosaiq Software is a non-profit software development group based out of Worcester, Massachusetts making stupidly cool things on the web.">Mosaiq Software is a non-profit software development group based out of Worcester, Massachusetts making stupidly cool things on the web.</p>
            <button
                class="outline-button"
                id="see-our-work"
            >
                See Our Work
            </button>
        </div>
        <div id="hero-logo">
            <FancyMosaiqLogo />
        </div>
    </SectionLayout>
    <SectionLayout id="projects">
        <SectionHeaderTitle outlined>Projects</SectionHeaderTitle>
        {projects.map((project) => <ProjectElement project={project} />)}
        <div class="projects-button-container">
            <a
                href="/projects"
                class="outline-button"
                style="margin: 0 auto;"
                >See All Projects</a
            >
        </div>
        <Square
            width={10}
            size={800}
            color="var(--mosaiq-pink)"
            className="square1"
            top="30%"
            left="-225px"
            rotation="55deg"
        />
        <Square
            width={10}
            size={400}
            color="var(--mosaiq-blue)"
            className="square1"
            top="60%"
            left="60%"
            rotation="-10deg"
        />
        <Square
            width={10}
            size={400}
            color="var(--mosaiq-navy)"
            className="square1"
            top="30%"
            right="-500px"
            rotation="15deg"
        />
        <Square
            width={10}
            size={300}
            color="var(--mosaiq-magenta)"
            className="square1"
            top="85%"
            left="25%"
            rotation="45deg"
        />
    </SectionLayout>
    <SectionLayout id="contact">
        <SectionHeaderTitle>Contact</SectionHeaderTitle>
        <ContactInfo></ContactInfo>
    </SectionLayout>
</BaseLayout>
<script>
    import { smoother } from '../scripts/context';

    document.getElementById('see-our-work')!.onclick = () => {
        smoother.scrollTo(document.getElementById('projects')!, true);
    };
</script>
<style>
    #hero-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;

        p {
            z-index: 2;
            max-width: 60ch;
            font-size: var(--font-size-lg);
            paint-order: stroke fill;
            -webkit-text-stroke: 0.33em var(--color-background);
        }
    }
    #hero-logo {
        position: absolute;
        right: 10%;
    }

    #projects {
        display: flex;
        flex-direction: column;
        gap: 10em;
        flex: 1;
    }

    #contact {
        min-height: 100vh;
    }

    .projects-button-container {
        padding: 4rem 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }
</style>
