---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Mosaiq Software">
    <section id="join">
        <h1>Join</h1>
    </section>
</BaseLayout>

<style>
    #join {
        height: 100vh;
    }
</style>
