---
import SectionHeaderTitle from '../components/SectionHeaderTitle.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionLayout from '../layouts/SectionLayout.astro';
---

<BaseLayout title="Mosaiq Software">
    <SectionLayout id="join">
        <SectionHeaderTitle>Join</SectionHeaderTitle>
        <div>
            <p>Do you find yourself chronically building something? Yeah, us too.</p>
            <p>Whether you&rsquo;re ready to deep dive into your next big project, or just want to something to do on the weekends, Mosaiq has a place for you!</p>
            <p>We are always looking for new members to join our team and help us create amazing digital experiences.</p>
        </div>
        <div>
            <h3>Required Qualifications</h3>
            <p>&bull; 18+ years experience in being alive</p>
            <p>&bull; Comes up with ideas (good, bad, weird, or otherwise)</p>
            <p>&bull; Ready to learn a ton of new skills and technologies</p>
            <p>&bull; Always looking to build something new</p>
            <h3>Preferred Qualifications</h3>
            <p>Nice to have (but not required) to have at least one of the following:</p>
            <p>&bull; Experience with web development (We love: HTML, CSS, JavaScript, TypeScript, React, React Native, etc.)</p>
            <p>&bull; Familiarity with designing user interfaces and digital experiences</p>
            <p>&bull; Any experience with software or game development</p>
        </div>
        <p>As you can see, we&rsquo;re by no means a traditional company. If you have a drive to create and innovate, we want you on our team!</p>
        <p>Regardless of your background or experience level, if you&rsquo;re passionate about what you do and eager to learn, we encourage you to apply!</p>
        <p>Let&rsquo;s build something great together.</p>
        <p>No fancy job application here! Just send a quick email to <a href="mailto:join@mosaiq.dev">join@mosaiq.dev</a> with your resume or portfolio and a brief introduction.</p>

        <h3>Smallprint</h3>
        <p></p>
    </SectionLayout>
</BaseLayout>
