

<div class="contact-container">
    {
        [
            {
                inner: <div>
                    <h2>Email</h2>
                    <p>hello@mosaiq.dev</p>
                </div>,
                color: 'var(--mosaiq-blue)',
                href: 'mailto:hello@mosaiq.dev'
            },
            {
                inner: <div>
                    <h2>LinkedIn</h2>
                    <p>mosaiq-software</p>
                </div>,
                color: 'var(--mosaiq-magenta)',
                href: 'https://www.linkedin.com/company/mosaiq-software/'
            },
            {
                inner: <div>
                    <h2>GitHub</h2>
                    <p>mosaiq-software</p>
                </div>,
                color: 'var(--mosaiq-magenta)',
                href: 'https://github.com/mosaiq-software'
            },
            {
                inner: <div>
                    <h3>Want to contact a member?</h3>
                </div>,
                color: 'var(--mosaiq-pink)',
                href: '/about#members'
            }
        ].map((info) => <a class="contact-box" href={info.href} target="_blank">
            <div class="contact-square" style={`border-color: ${info.color}`}></div>
            <div class="contact">
                {info.inner}
            </div>
        </a>)
    }
</div>
<style>
    @keyframes rotate {
        0% {transform: rotate(0deg)}
        100% {transform: rotate(360deg)}
    }

    .contact-container {
        --side: calc(min(calc(100dvw - var(--spacing-lg) * 2), 100dvh));
        width: var(--side);
        height: var(--side);
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-box {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
    }

    .contact-square {
        position: absolute;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
        border: 10px solid red;
        animation: rotate 60s linear infinite;
    }

    .contact-box:nth-child(2) .contact-square, .contact-box:nth-child(3) .contact-square {
        animation-direction: reverse;
        animation-delay: -7.5s;
    } 

    .contact {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }
</style>

