---
import MosaiqLogoImage from '../images/MosaiqLogoTransparent.png';
---

<script></script>
<nav
    class="nav"
    id="navbar"
>
    <div class="nav-logo">
        <img
            src={MosaiqLogoImage.src}
            alt="Mosaiq Logo"
            style="height: 40px; margin-right: 10px;"
        />
        <h1>Mosaiq Software</h1>
    </div>
    <div class="nav-links">
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/join">Join</a>
        <a href="/contact">Contact</a>
    </div>
</nav>
<style>
    .nav {
        opacity: 0;

        position: sticky;
        top: 0;
        z-index: 1000;
        width: 100%;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 0;

        .nav-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            h1 {
                font-size: 1rem;
                margin: 0;
                max-width: 600px;
                font-family: 'Comfortaa', sans-serif;
            }
        }

        .nav-links {
            display: flex;
            flex-direction: row;
            gap: 2rem;

            a {
                text-decoration: none;
                color: black;
                font-family: sans-serif;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: gray;
                }
            }
        }
    }
</style>
