---
import Project from './Project.astro';
---

<div class="projects-list">
    <Project
        title="Card Domain"
        url="carddomain.mosaiq.dev"
        description="A simple, extremely powerful platform for playing real-time card games online with player-enforced rules."
        contributors={['Alex Santagata', 'Sam Randa']}
        startDate="July 2025"
        endDate="August 2025"
        technologies={['React', 'Express', 'Websocket']}
        x={50}
    />
    <Project
        title="Minefolio"
        url="minefol.io"
        description="A portfolio creation and showcase platform for Minecraft builds and building communities."
        contributors={['Matt Hagger', 'Javier Moncada', 'Thinh Pham']}
        startDate="July 2025"
        technologies={['React', 'Express', 'Three.js']}
        x={300}
    />
    <Project
        title="Timelier"
        url="timelier.app"
        description="A tool for students, friends, and coworkers to find compatible times to meet."
        contributors={['Sam Randa', 'Zach Szeto', 'Zoe Fisk']}
        startDate="August 2025"
        technologies={['React Native', 'Expo', 'Websocket']}
        x={550}
    />
</div>
