---
interface Props {
    extraStyles?: string;
    areaHidden?: boolean;
    color?: string;
    outlined?: boolean;
}
const { extraStyles, areaHidden, color = 'var(--color-surface)', outlined } = Astro.props as Props;
---

<h1
    style={`${extraStyles}; color: ${color};`}
    class=`section-header-title ${outlined ? 'outlined' : ''}`
    aria-hidden={areaHidden ? 'true' : 'false'}
    data-color={color}
>
    <slot />
</h1>
<script>
    // import { gsap } from 'gsap';
    // import { ScrollTrigger } from 'gsap/ScrollTrigger';

    // gsap.registerPlugin(ScrollTrigger);

    // const el = document.querySelectorAll('.section-header-title') as NodeListOf<HTMLElement>;
    // el.forEach((element) => {
    //     const color = element.dataset.color;
    //     console.log(color);
    //     gsap.to(element, {
    //         color: color,
    //         scrollTrigger: {
    //             trigger: element,
    //             start: 'top-=100 center',
    //             end: 'bottom+=100 center',
    //             scrub: true,
    //         },
    //     });
    // });
</script>
<style>
    h1 {
        font-size: clamp(2rem, 14vw, 6rem);
        line-height: 0.9;
        margin: 0;
    }
    .outlined {
        paint-order: stroke fill;
        -webkit-text-stroke: 0.05em var(--color-background);
    }
</style>
