---
interface Props {
    width: number;
    size: number | string;
    color: string;
    className?: string;
    left?: string;
    right?: string;
    top?: string;
    bottom?: string;
    rotation?: string;
}
const { width, size, color, className, left, right, top, bottom, rotation } = Astro.props;

const style = `
    width: ${typeof size === 'string' ? size : size + 'px'};
    height: ${typeof size === 'string' ? size : size + 'px'};
    border: ${width}px solid ${color};
    position: absolute;
    ${left ? 'left: ' + left + ';' : ''}
    ${right ? 'right: ' + right + ';' : ''}
    ${top ? 'top: ' + top + ';' : ''}
    ${bottom ? 'bottom: ' + bottom + ';' : ''}
    transform: translate(-50%, -50%) ${rotation ? 'rotate(' + rotation + ')' : ''};
    transform-origin: center;
    z-index: -1;
`;
---

<div
    class=`square${className ? " " + className : ""}`
    style={style}
>
</div>
