
<div
    class="filter-text-primary"
    color="black"
>
    <slot />
</div>
<div
    class="filter-text-filtered"
    aria-hidden="true"
    color="white"
>
    <slot />
</div>
<div
    class="filter-text-filtered"
    aria-hidden="true"
    color="white"
>
    <slot />
</div>
<div
    aria-hidden="true"
    style="visibility: hidden;"
>
    <slot />
</div>
<style>
    .filter-text-primary {
        position: absolute; z-index: -2; transform-origin: center;
    }

    :global(.filter-text-primary>*) {
        color: black !important;
    }

    .filter-text-filtered {
        position: absolute; z-index: 1; mix-blend-mode: overlay;
    }

    :global(.filter-text-filtered>*) {
        color: white !important;
    }
</style>
