---
import SectionHeaderTitle from '../SectionHeaderTitle.astro';
---

<div>
    <SectionHeaderTitle extraStyles="position: absolute; z-index: -2; transform-origin: center;">
        <slot />
    </SectionHeaderTitle>
    <SectionHeaderTitle
        areaHidden
        extraStyles="position: absolute; z-index: 1; mix-blend-mode: saturation; scale: 0.996;"
        color="var(--mosaiq-pink)"
    >
        <slot />
    </SectionHeaderTitle>
    <SectionHeaderTitle
        areaHidden
        extraStyles="visibility: hidden; white-space: nowrap;"
    >
        <slot />
    </SectionHeaderTitle>
</div>
<style>
    .text {
        position: absolute;
    }

    .background-text {
        color: black;
        transform-origin: center;
        z-index: -2;
    }

    .filter-text {
        mix-blend-mode: saturation;
        scale: 0.996;
        color: #d31757;
        z-index: 1;
    }

    .spacer-text {
        visibility: hidden;
        white-space: nowrap;
    }
</style>
