---
import '../styles/reset.css';
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title: string;
}
const props = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.ico"
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <script src="../scripts/context.ts"></script>
        <title>{props.title}</title>
    </head>

    <body class="smooth-wrapper">
        <div class="smooth-content">
            <div id="content">
                <Navbar />
                <slot />
                <Footer />
            </div>
        </div>
    </body>
</html>

<style>
    body,
    html {
        background-color: var(--color-background);
        width: 100vw;
        overflow-x: hidden;
    }
</style>
