---
interface Props {
    id: string;
}
const props = Astro.props as Props;
---

<section id={props.id}>
    <slot />
</section>
<style>
    section {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        z-index: 2;
        padding: 0 var(--spacing-lg) var(--spacing-xl) var(--spacing-lg);
        min-height: 100vh;

        @media screen and (max-width: 768px) {
            padding: 0 var(--spacing-md) var(--spacing-md) var(--spacing-md);
        }
    }
</style>
